html,
body {
    height: 100%;
    /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
    min-height: 100%;
    height: auto;
    /* Negative indent footer by its height */
    margin: 0 auto -40px;
    /* Pad bottom by footer height */
    padding: 0 0 40px;
}

/* Set the fixed height of the footer here */
#footer {
    height: 40px;
    background-color: #f5f5f5;
}

body {
    padding-top: 50px;
}

/* Кастомные рюшечки */
span.spoiler {
    background: #BBB;
    color: #BBB;
}

span.spoiler:hover {
    color: #333;
}

.social > a > img {
    margin-top: 5px;
    width: 24px;
    height: 24px;
}

ul > li > a > img {
    width: 18px;
    height: 18px;
}

dd {
    padding-bottom: 10px;
}

#news-block > h2 {
    margin-top: 20px;
    background-color: #F0F0F0;
    text-indent: 10px;
}

#post-feed > h2 {
    background-color: #F0F0F0;
    text-indent: 10px;
}

#post-feed > .post-readable-date, #news-block > .post-readable-date {
    padding: 0 10px;
}

#post-feed > .post-wrap, #news-block > .post-wrap {
    margin-left: 10px;
}

.post-short-title {
}

.post-short-title > a, .post-short-title > a:visited, h1 > a, h1 > a:visited, h2 > a, h2 > a:visited, h3 > a, h3 > a:visited, h4 > a, h4 > a:visited, h5 > a, h5 > a:visited, h6 > a, h6 > a:visited {
    color: #000;
}

.post-short-title > a:hover, h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover {
    color: #40677D;
}

.post-long-title {
}

.post-readable-date {
    color: #777;
}

.trialbox {
    margin-top: 10px;
}

.searchbox {
    margin-top: 10px;
    margin-bottom: 10px;
}

/* Полоска вверх */
#gotop {
    position: fixed;
    left: 0;
    top: 50px;
    bottom: 0;
    height: 100%;
    width: 30px;
    font-size: 36px;
    padding-left: 5px;
    cursor: pointer;
    background: #ddd;
}

#gotop:hover {
    background: #eee;
}

/* Набор успешного капсулира */
dl#nabor > dt > a > img {
    width: 16px;
    height: 16px;
}

/* Партнёры */
.partner {
    background-color: #F0F0F0;
}

dt.partner {
    padding: 5px 10px 0;
}

dd.partner {
    padding: 0 10px 5px;
    margin-bottom: 10px;
}

dd.partner > a.btn {
    margin-top: 5px;
}

dd.alliance-promo {
    background-color: #f0f0f0;
    padding: 0;
    cursor: pointer;
}

dd.alliance-promo > p {
    margin-top: 10px;
    font-size: 0.9em;
}

div.alliance-promo-left {
    float: left;
    text-align: center;
    margin-right: 10px;
}

div.alliance-promo-left > img {
    background-color: #222;
}

/* Pandoc картинки */
div.figure {
    margin: 5px auto 15px;
    text-align: center;
}

div.figure > p.caption {
    font-style: italic;
    color: #8A6D3B;
    text-indent: 10px;
}

/* Резиновые картинки */
img {
    max-width: 100%;
    height: auto;
    width: auto \9; /* ie8 */
}

/* Коллауты из доков Bootstrap */
.bs-callout {
    margin: 20px 0;
    padding: 20px;
    border-left: 3px solid #eee
}

.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px
}

.bs-callout p:last-child {
    margin-bottom: 0
}

.bs-callout-danger {
    background-color: #fdf7f7;
    border-color: #eed3d7
}

.bs-callout-danger h4 {
    color: #b94a48
}

.bs-callout-warning {
    background-color: #faf8f0;
    border-color: #faebcc
}

.bs-callout-warning h4 {
    color: #8a6d3b
}

.bs-callout-info {
    background-color: #f4f8fa;
    border-color: #bce8f1
}

.bs-callout-info h4 {
    color: #34789a
}

/* EVE API is a mess */
td.apilink, th.apichar {
    text-align: center;
}

span.apilink {
    cursor: pointer;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
}

span.apilink:hover {
    text-shadow: 0px 0px 2px #666;
}

span.igbinfo {
    background-image: url('/img/ico/info.png');
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: top;
}

table.apitable > thead > tr > th {
    cursor: pointer;
}

td.apiname {
    cursor: pointer;
}

h4.apiallianceheading {
    cursor: pointer;
}

/* extra parser stuff */
div.eve-invtype {
    display: inline-block;
    cursor: pointer;
    margin: 5px;
    text-align: center;
}
