<!DOCTYPE html>
<html>
<head>
	<title>{{title}}</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- Meta -->
	<meta name="description" content="{{description}}"/>
	<link rel="canonical" href="http://eveanon.com/" />
	<meta property="og:locale" content="ru_RU"/>
	<meta property="og:type" content="website"/>
	<meta property="og:title" content="{{title}}"/>
	<meta property="og:description" content="{{description}}"/>
	<meta property="og:url" content="http://eveanon.com/"/>
	<meta property="og:site_name" content="EVE Anon"/>
	<meta property="og:image" content="http://eveanon.com/img/logo.jpg"/>
	<meta name="google-site-verification" content="bnb5QZzD8K9nqIqudR7AHuvEKJsn7vSMuLQY4KwvumI" />
	<!-- Bootstrap -->
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<style>
	body{padding-top:50px;}
	</style>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
		<script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
	<![endif]-->
</head>
<body>
	<header class="navbar navbar-fixed-top navbar-inverse" role="banner">
		<div class="container">
			<div class="navbar-header">
				<a href="/" class="navbar-brand">EVE Anon</a>
			</div>
			<nav class="collapse navbar-collapse" role="navigation">
				<ul class="nav navbar-nav">
					<li><a href="/isk">ISK</a></li>
					<li><a href="/pvp">PVP</a></li>
					<li><a href="/alliances">Альянсы</a></li>
					<li><a href="/noobmeat">Нубмит</a></li>
				</ul>
			</nav>
		</div>
	</header>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-center">{{POSTNAME}} <small>редактирование</small></h1>
			</div>
		</div>
		<div class="row">
			<div class="col-md-7">
				<form action="/posts/edit" method="POST">
					<div class="form-group">
						<label>Короткий заголовок</label>
						<input type="text" name="title" id="title" class="form-control" value="{{shortTitle}}">
					</div>
					<div class="form-group">
						<label>Длинный заголовок</label>
						<input type="text" name="longtitle" id="longtitle" class="form-control" value="{{longTitle}}">
					</div>
					<div class="form-group">
						<label>URL картинки</label>
						<input type="text" name="longtitle" id="longtitle" class="form-control" value="{{picUrl}}">
					</div>
					<div class="form-group">
						<label>Slug поста</label>
						<input type="text" name="longtitle" id="longtitle" class="form-control" value="{{slug}}">
					</div>
					<div class="form-group">
						<label>Дата</label>
						<input type="text" name="date" id="date" class="form-control" value="{{date}}">
					</div>
					<div class="form-group">
						<label>HTML поста</label>
						<textarea name="rawhtml" id="" rows="10" class="form-control">{{rawHtml}}</textarea>
					</div>
					<div class="form-group">
						<div class="checkbox">
							<label><input type="checkbox" name="public" id="public" on>Отображать в ленте</label>
						</div>
						<div class="checkbox">
							<label><input type="checkbox" name="comments" id="comments" checked>Включить комментарии</label>
						</div>
					</div>
					<button type="submit" class="btn btn-lg btn-primary">Сохранить</button>
				</form>
			</div>
			<div class="col-md-5">
				<h2>Предыдущие посты</h2>
				<dl>
					<dt><small>14 апреля 2014</small> <a href="/posts/2014/04/05/ubit-titan-dd">Убит титан ДД</a></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis laboriosam ullam nobis hic unde cum iste inventore corporis impedit accusamus. Neque, consectetur, aperiam commodi dolore ipsa tempore vero voluptatibus mollitia nihil suscipit possimus pariatur maxime esse laboriosam animi quibusdam obcaecati? Excepturi, voluptatibus, molestias eligendi iste beatae quos culpa. Laboriosam, asperiores?</dd>
					<dt><small>14 апреля 2014</small> <a href="/posts/2014/04/05/ubit-titan-dd">Убит титан ДД</a></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores, distinctio, assumenda, eveniet eos accusantium iure quas beatae error culpa magnam dolorum aperiam quidem voluptate eum vel consectetur quo dignissimos possimus eaque a consequuntur natus aspernatur explicabo ullam reiciendis hic nesciunt pariatur facere placeat illum provident ab quos inventore dolorem omnis.</dd>
					<dt><small>14 апреля 2014</small> <a href="/posts/2014/04/05/ubit-titan-dd">Убит титан ДД</a></dt>
					<dd>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt, a corporis aperiam dolores esse sed molestiae aspernatur quasi harum alias cum temporibus quam itaque culpa labore totam ea cupiditate dolorem minima ex consectetur nulla unde quaerat necessitatibus dolorum tempora quod suscipit saepe eaque laborum. Libero blanditiis animi beatae veniam nemo!</dd>
				</dl>
				<ul class="pager">
					<li class="previous"><a href="#">&larr; Туда</a></li>
					<li class="next"><a href="#">Сюда &rarr;</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="https://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
</body>
</html>