<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Meta -->
    <meta name="description" content="{{description}}"/>
    <link rel="canonical" href="http://eveanon.com/"/>
    <meta property="og:locale" content="ru_RU"/>
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="{{title}}"/>
    <meta property="og:description" content="{{description}}"/>
    <meta property="og:url" content="http://eveanon.com/"/>
    <meta property="og:site_name" content="EVE Anon"/>
    <meta property="og:image" content="http://eveanon.com/img/logo.jpg"/>
    <meta name="google-site-verification" content="bnb5QZzD8K9nqIqudR7AHuvEKJsn7vSMuLQY4KwvumI"/>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            padding-top: 50px;
        }
    </style>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<header class="navbar navbar-fixed-top navbar-inverse" role="banner">
    <div class="container">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">EVE Anon</a>
        </div>
        <nav class="collapse navbar-collapse" role="navigation">
            <ul class="nav navbar-nav">
                <li><a href="/isk">ISK</a></li>
                <li><a href="/pvp">PVP</a></li>
                <li><a href="/alliances">Альянсы</a></li>
                <li><a href="/noobmeat">Нубмит</a></li>
            </ul>
        </nav>
    </div>
</header>
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center">EVE Anon
                <small>beta</small>
            </h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-7">
            <h2>Новости</h2>

            <div class="news-item">
                <h4>Lorem ipsum dolor sit amet.</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, eveniet voluptatum praesentium ex
                    repudiandae eligendi iure quia commodi temporibus illum architecto quod quibusdam animi expedita
                    repellat eaque consequatur libero impedit officiis aliquam saepe odio minima! Dolores, explicabo
                    quas culpa quo tempore corporis alias mollitia minus earum doloremque debitis aliquid odio at ut
                    fugiat obcaecati est sint natus quia laboriosam id ea nam inventore magni fugit rem facere molestias
                    modi enim illo commodi nisi tempora labore in deleniti provident quisquam ullam!</p>
                <h6>21/11/2013</h6>
            </div>
            <div class="news-item">
                <h4>Lorem ipsum dolor sit amet.</h4>

                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, eveniet voluptatum praesentium ex
                    repudiandae eligendi iure quia commodi temporibus illum architecto quod quibusdam animi expedita
                    repellat eaque consequatur libero impedit officiis aliquam saepe odio minima! Dolores, explicabo
                    quas culpa quo tempore corporis alias mollitia minus earum doloremque debitis aliquid odio at ut
                    fugiat obcaecati est sint natus quia laboriosam id ea nam inventore magni fugit rem facere molestias
                    modi enim illo commodi nisi tempora labore in deleniti provident quisquam ullam!</p>
                <h6>20/11/2013</h6>
            </div>
            <a class="btn btn-default btn-xs">Архив</a>
        </div>
        <div class="col-md-5">
            <h2>Набор юного капсулира</h2>
            <dl>
                <dt><a href="http://evemaps.dotlan.net/map">Dotlan</a></dt>
                <dd>Подробные карты всех регионов евы с информацией по неписи, станциям, лунам, агентам и многое
                    другое.
                </dd>
                <dt><a href="http://go-dl.eve-files.com/media/corp/verite/influence.png">Verite</a></dt>
                <dd>Клаймовая карта евы, на которой обозначены сферы влияния альянсов. Потеряла свою актуальность в
                    связи с появлением овер 9000 ситизенов и петов, а так же формированием коалиций на пол карты.
                </dd>
                <dt><a href="http://eve-central.com/">EVE-Central</a></dt>
                <dd>Справочник по ценам хайсечных торговых хабов.</dd>
                <dt><a href="http://evepraisal.com/">EVE Praisal</a></dt>
                <dd>Быстрая оценка стоимости лута.</dd>
                <dt><a href="http://eve-survival.org/wikka.php?wakka=MissionReports">EVE-Survival</a></dt>
                <dd>Прохождение миссий для ньюфагов.</dd>
                <dt><a href="http://wormhol.es">Wormholes</a></dt>
                <dd>Навигация по узеньким дырочкам.</dd>
            </dl>
        </div>
    </div>
</div>

<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://code.jquery.com/jquery.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
</html>